<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.npms.mapper.ChanceTypeProductMapper">

    <select id="getItemsByChanceAndProduct" parameterType="com.neusoft.npms.dto.ChanceQueryCondition" resultType="com.neusoft.npms.entity.ChanceTypeProduct">
        select * from chance_type_product
        <trim prefix="where" suffixOverrides="and">
            <if test="productNum != null and productNum != ''">
                product_num = #{productNum} and
            </if>
            <if test="chanceTypeNum != null and chanceTypeNum != ''">
                chance_type_num = #{chanceTypeNum} and
            </if>

        </trim>


    </select>
</mapper>
