<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.npms.mapper.SalesLogMapper">

    <select id="getByIdAndTime" resultType="SalesLog" parameterType="SalesLogQueryCondition">
        select * from sales_log
        where user_id = #{userid}
        and log_date between #{startTime} and #{endTime}
        <if test="week != null">
            and week=#{week}
        </if>
    </select>
</mapper>
